.chair {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 13px;
}

.chair .div1 {
    grid-area: 1 / 1 / 7 / 13;
}

.chair .div1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.chair .div2 {
    grid-area: 2 / 7 / 3 / 12;
}

.chair .div3 {
    grid-area: 3 / 7 / 7 / 12;
}

@media (max-width: 1000px) {

    .chair {
        display: initial;
        height: auto;

    }

    .chair h1 {
        color: #003366
    }

    .chair p {
        color: rgb(26, 26, 26);
    }



}