* {
  margin: 0;
  padding: 0;
}

/* writing-mode: vertical-lr;
  transform: rotate(180deg) */

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}

p {
  font-size: 12px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(26, 26, 26)
}

h1 {
  font-size: 3rem;
  color: #003366;
  margin-bottom: 2rem;

}

h2 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 2rem;
}

h3 {
  color: #003366;
}

.darkblue {
  background-color: #003366;
  width: 100%;
}


.white {
  color: white
}

.grey {
  color: #cbbca9
}

.bg-grey {
  background-color: #cbbca9
}


.bold {
  font-weight: 500;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sideText {
  font-size: 1rem;
  writing-mode: vertical-rl;
  color: #003366;
  transform: rotate(180deg);
  position: relative;
}

.darkblue {
  vertical-align: middle;
}

.sideTextBig {
  font-size: 4rem;
  writing-mode: vertical-lr;
  color: white;
  transform: rotate(180deg);
  letter-spacing: 5px;
  padding: 20px;

}

.h1-container {
  align-self: end;
}

.divider {
  height: 20vh;
}

.center {
  text-align: center;
}

.footer {
  height: 50px;
}

.two-columns-large {
  width: 100%;
  display: flex;
  margin-right: 12px;
  justify-content: space-between;

}

.two-columns-large p {
  width: 50%;
  margin-right: 12px;
}

.two-columns-flex {
  display: flex;
  justify-content: space-between;
}

.half {
  width: 50%;
  padding: 12px;
  height: auto;
  object-fit: cover;

}

@media only screen and (max-width: 1200px) {

  .two-columns-large {
    display: inherit;
  }

  .two-columns-large p {
    width: 100%;
    margin: 0
  }
}